* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'IBM Plex Sans',sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.container {
    background: #fff;
    width: 90%;
}

.row {
    margin-left: 100px;
    border-radius: 4px 4px 0 0;
    padding: 12px;
    background: #fff;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 4%);
    display: flex!important;
    align-items: center!important;
}

.title-left-side {
    position: relative;
    z-index: 2;
    animation: 1s ease-in-out 1s forwards show-anim;
    -webkit-animation: 1s ease-in-out 1s forwards show-anim;
    width: 60%;
    text-align: left;
 
}

.light-text {
    margin-bottom: 4px;
    font-weight: 500;
    color: #a3a3a3;
    text-decoration: none;
    margin-top: -35px;
}

.light-text:hover {
    color: red;
}

h1 {
    font-family: Muli,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #292929;
    font-style: italic;
}

.title-right-side {
    width: 40%;
    text-align: right;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.text {
    color: #a3a3a3;
}

@media (max-width: 767px)
.title-right-side {
    text-align: left;
    width: 100%;
    margin-bottom: 16px;
}

@media (max-width: 1199px)
h1 {
    font-size: 20px;
    line-height: 26px;
}